.DS_Store
.idea
/strategies/__pycache__/
/hyperopts/__pycache__/
/commands/__pycache__/
/backtest_results/
/data/
/hyperopt_results/
/notebooks/
/plot/
/utils/credentials.json
/utils/token.pickle
/hyperopt.lock
/freqtrade
/freqtrade/*
/bots_config.json
/.idea/runConfigurations/copy.xml
